<!DOCTYPE html>
<html>
  <head>
    <title>IIIT-Bh Online Judge</title>
    <link rel="stylesheet" href="../public/css/all.css" />
  </head>
  <body>
    <h1>IIIT-Bh Online Judge</h1>
  </body>
</html>
